#course {
    margin-top: 20px;
}

.course__title {
    text-align: center;
}

.course__block {
    display: flex;
    flex-direction: column;
}

.course__block__name {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.guide {
    margin-top: 15px;
}

.guide img{
    width: 50px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.guide img:hover{
    transform: scale(1.05);
}

.course__block__test {
    display: flex;
    flex-direction: column;
    width: 80px;
    align-items: center;
    margin-right: 240px;
}

.course__block__test button {
    font-weight: 600;
    font-size: 20px;
    color: #9f9b9b;
    background-color: #d2d1d1;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    border: 1px solid #d2d1d1;
    cursor: pointer;
    transition: all 0.1s ease-in;
    margin-top: 15px;
    margin-bottom: 15px;
}

.course__block__test button:hover {
    box-shadow: 0 0 20px 0 #d2d1d1;
}

.course__block__test:nth-child(odd) {
    transform: translateX(-35px);
}

.course__block__test:nth-child(even) {
    transform: translateX(35px);
}

.reverse:nth-child(odd) {
    transform: translateX(35px);
}

.reverse:nth-child(even) {
    transform: translateX(-35px);
}

.passed {
    background-color: #7ed321!important;
    color: white !important;
    border: 1px solid #7ed321!important;
}

.passed:hover {
    box-shadow: 0 0 20px 0 #7ed321!important;
}

.available {
    background-color: #8e44ad !important;
    color: white !important;
    border: 1px solid #8e44ad !important;
    margin: 15px 0;
}

.available:hover {
    box-shadow: 0 0 20px 0 #8e44ad !important;
}



