#edit-course {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    max-width: 600px;
    align-items: flex-start;
}

.description ul {
    padding: 0;
    margin: 0;
}

.description li {
    margin-bottom: 15px;
    list-style: none;

    display: flex;


}

.description label {
    margin-right: 15px;
}

.input {
    border: 1px solid #2F205A;
    border-radius: 8px;
    padding: 5px;
}

.edit-course__button {
    align-self: flex-end;
    margin-right: 45px;
}


.buttons-edits-remove {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-right: 100px;
}

.course__button {
    padding: 10px;
    border: 1px solid #2F205A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    background-color: #f6f4ef;
    box-shadow: 0 0 20px 0 rgba(70, 52, 124, 0.7);
    transition: all 0.2s ease;
}

.delete {
    margin-bottom: 40px;
}

.delete:hover {
    background-color: rgba(236, 134, 134, 0.9);
    box-shadow: 0 0 20px 0 rgba(236, 134, 134, 0.9);
}

.change:hover {
    background-color: #d4eacb;
    box-shadow: 0 0 20px 0 #d4eacb;
}