#personal-account {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.personal-data {
    width: 50%;
    align-items: flex-start;
}

.title {
    margin-bottom: 0;
}

.line {
    width: 100%;
    border: 1px solid #e7cdab; /* Толщина, стиль и цвет линии */
    margin: 10px 0;
}

.list__data {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__data li {
    font-weight: 600;
    margin-bottom: 5px;
}

.list__data li span{
    font-weight: 400;
    margin-bottom: 5px;
}

.edit {
    margin-top: 15px;
    align-self: flex-end;
}
