<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setting course</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <link th:href="@{/style/settingCourse.css}" rel="stylesheet">
    <script th:src="@{/js/lessons.js}"></script>
</head>
<body>
<script>
    // Глобальная переменная для хранения информации о текущем выбранном уроке
    var selectedLesson = null;
    var selectedCourse = null;

    // Функция для обновления информации о текущем выбранном уроке и курсе
    function selectLesson(lesson, course) {
        selectedLesson = lesson;
        console.log("Выбран урок:", selectedLesson);

        selectedCourse = course;
        console.log("Текущий курс:", selectedCourse);
    }

    function checkAvailable(curLes){
        return selectedLesson == curLes;
    }
</script>

<!--Верхнее меню-->
<header>
    <div class="logo">
        <img th:src="@{/images/logo.svg}" alt="logo" class="logo__img">
        <p>Школа китайского языка</p>
    </div>
    <nav id="menu">
        <ul class="menu">
            <li><a th:href="@{/user}">Личный кабинет</a></li>
            <li><a th:href="@{/courses}">Курсы</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <div id="setting-course">
        <div class="block choose-course" >
            <div class="choose-course__card" th:each="lesson : ${lessons}" th:onclick="'selectLesson(\'' + ${lesson.id} + '\', \'' + ${lesson.courseId} + '\')'">
                <p class="course_close">X</p>
                <div>
                    <input type="text" th:value="${lesson.name}">
                </div>

            <form id="add-lesson-form" th:action="'/courses/'+ ${lesson.courseId} + '/settings/add-lesson'" method="post">
            <button id="add-lesson-btn" class="add_course" th:onclick="'addLesson()'">Добавить урок</button>
            </form>
            </div>
        </div>

        <div class="">
            <button class="button justify-items-end mb-2">Сохранить</button>
            <div class="block block__settingCard" th:each="lesson: ${lessons}">
                <div if="'checkAvailable(\'' + ${lesson.id} + '\')">
                <div th:each="question: ${lesson.questions}">
                        <p class="course_close" onclick="closePopup()">X</p>
                        <div class="d-flex mb-2">
                            <label for="question">Вопрос:</label>
                            <input id="question" type="text" th:text="${question.question}">
                        </div>

                        <div class="d-flex mb-2">
                            <label for="answer">Ответ:</label>
                            <input id="answer" type="text" th:text="${question.answer}">
                        </div>

                        <div class="d-flex justify-content-between w-100">
                            <label>Варианты:</label>

                            <div>
                                <label>Открытый вопрос:</label>
                                <input type="checkbox" th:value="${question.test}">
                            </div>
                        </div>
                    </div>
                </div>

                <form id="add-question-form" th:action="'/courses/' + ${lesson.courseId} + '/settings/add-question?lessonId=' + ${lesson.id}" method="post">
                    <button class="add_question">Добавить вопрос</button>
                </form>
            </div>

        </div>
    </div>

</section>


</body>
</html>