.cards {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgba(246, 244, 239, 0.7);
    box-shadow: 0 0 20px 0 rgba(70, 52, 124, 0.7);
    padding: 10px 15px;
    margin-right: 10px;
    max-width: 250px;

    font-weight: 500;
}

.card a {
    color: #2F205A;
    text-decoration: none;
    font-size: 20px;
}

.block_button_add {
    display: flex;
    justify-content: flex-end;
}

.add {
    font-size: 20px;
    padding: 10px 30px;
}