.lesson-passed {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.lesson-passed__block {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.lesson-passed__block__img {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.lesson__img {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.lesson__img img {
    width: 60px;
    margin-right: 15px;
}

.lesson__img p {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    color: #2F205A
}

.lesson__button {
    width: 250px;
    padding: 10px;
    background-color: #2F205A;
    color: #fff;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.lesson__button:hover {
    transform: scale(1.1);
}