#questionListening {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}



.card {
    box-shadow: 0 0 20px 0 rgba(70, 52, 124, 0.7);
    padding: 30px;
    margin-right: 15px;
}

.card img {
    width: 170px;
}

.cards__answer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cards__answer div {
    padding: 20px;
    margin-left: 30px;
    background-color: #f6f4ef;
    box-shadow: 0 0 20px 0 rgba(70, 52, 124, 0.7);
    border-radius: 8px;
    margin-bottom: 20px;
    min-width: 200px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.cards__answer div:last-child {
    margin-bottom: 0;
}

.card__hieroglyph {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(70, 52, 124, 0.7);
}



.card__hieroglyph span{
    text-align: center;
}
