#questionWriteAnswer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.question_title {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 60px;
}

.block__question {
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question {
    width: 450px;
    height: 250px;
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.question div {
    z-index: 2;
}

.question img {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.answer {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.answer label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #9f9b9b;
}

.answer textarea {
    border-radius: 8px;
    border: 1px solid rgba(70, 52, 124, 0.7);
    box-shadow: 0 0 20px 0 rgba(70, 52, 124, 0.7);
    padding: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}